section {
    display: grid;
    grid-template-rows: 10vh 25vh 25vh 30vh 10vh;
    grid-template-areas: 
    'one'
    'one'
    'two'
    'three'
    'bottom';
}

body {
    background-image: url("../images/cliff.png");
    background-color: #cccccc;
    background-size: 100%;
}

#story {
    border-color:#9354A4;
    background-color: #2d1d36;
    color:#9354A4;
    height: 15vh;
}

.scenario-container {
    background-color:#2D1D36;
    grid-area: one;
    height: 20vh;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;

    margin-top: 12.5vh;
}

.input-container {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
}

.player-container {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

.round {
    font-size: 8vw;
    color: #2d1d36;
    margin-top:3vh;
    text-align: center;
}

.top-navbar {
    background-color:#9354A4;
    position: fixed;
    width: 100vw;
    top: 0vh;
    height: 10vh;
}

input {
    grid-area: three;
    width: 90vw;
    height: 25vh;
    margin-left: auto;
    margin-right: auto;
}

#submit-btn {
    display: block;
    color: #2d1d36;
    background-color:#9354A4;
    border: 1px solid #2d1d36;
    width: 50vw;
    height: 5vh;
    font-size: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2vh;
}

.bottom-navbar {

    background-color:#9354A4;
    position: fixed;
    width: 100vw;
    bottom: 0vh;
    height: 8vh;

    display: flex;
    justify-content: space-around;
}

.iconify {
    color: #2D1D36;
    margin-top: 5px;
    width: 50px;
    height: auto;
}

.toast{
    position: absolute;
}

#scenario-goes-here{
    color: white;
    font-size: 20px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-top: 0px;
}

#new_scenario{
    color: white;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 0px;
}

.player-container{
    background-color: rgba(147, 84, 164, 0.7);
}

#subject_header{
    background-color: #2d1d36;
    color: white;
    font-size: 20px;
}

.player{
    font-size: 20px;
}