/* .grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 30%, 10%, 50%, 10%;
    grid-template-areas: 
    "one"
    "two"
    "three"
    "four";
    
} */

body {
    background-image: url("../images/Background\ pictures/cave.png");
    background-color: #cccccc;
    background-size: 100%;
}

.main-prof-pic {
    border-radius: 50%;
    width: 30vh;
    grid-area: one;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px; 
}

.tab {
    margin-top: 20px; 
    grid-area: two;
}

.tabcontent {
    grid-area: three;
}

.bottom-navbar {
    position: fixed;
    display: block;
    background-color: slateblue;
    height: 100px;
    width: 100px;
}

.tabcontent {
    height: 56.5vh;
    overflow-y:scroll;
    width:100%;
    animation: fadeEffect 1s; 
  }

  @keyframes fadeEffect {
      from {opacity: 0;}
      to {opacity: 1;}
  }

  .tab {
    overflow: scroll;
    border: 3px solid rgb(5, 4, 4);
    background-color: #9354A4;
  }

  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    width: 49vw;
  }

  .tab button.active {
    background-color: rgb(139, 44, 151);
  }

  .prof-pics {
      border-radius: 50%; 
      margin: 7vw; 
      width: 35vw; 
  }

  .backgroundpic {
      margin: 5vw; 
      width: 40vw; 
      border: 2vw solid black;  
  }

  #pics {
      display:grid;
      grid-template-columns: repeat(2, 50vw);
      grid-template-rows: auto; 
      grid-template-areas:
      "one two";
  }

  #bg-pics {
      display:grid;
      grid-template-columns: repeat(2, 50vw);
      grid-template-rows: auto;
      grid-template-areas:
      "one two";
  }








