body {
    background-image: url("../images/cliff.png");
    background-color: #cccccc;
    background-size: 100%;
}

body div {
    position: relative;
    width: 83.5vw;
    margin-left: auto;
    margin-right: auto;
    background-color:#9354A4;
}

.scroll {
    width:100%;
    margin-left: auto;
    margin-right: auto;

}

#submit {
    display: block;
    color: #2d1d36;
    background-color:#9354A4;
    border: solid #2d1d36 2px;
    margin-left: auto;
    margin-right: auto;
}

.picture{
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

li{
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin-top: 20px;
}

h1{
    text-align: center;
}

#player_list{
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.picture{
    width: 100%;
    margin: 10px;
}

.story{
    margin-left: 25px;
    margin-top: auto;
    margin-bottom: auto;
}

hr{
    grid-column: 1 / span 2;
}