body {
    background-image: url("../images/cliff.png");
    background-color: #cccccc;
    background-size: 100%;
}

body div {
    position: relative;
    text-align: center;
    width: 83.5vw;
    background-color:#9354A4;
    margin-left: auto;
    margin-right: auto;
}

.scroll {
    width:100%;
    margin-left: auto;
    margin-right: auto;

}

#submit {
    color: #2d1d36;
    background-color:#9354A4;
    border: none;
}

h1{
    background-color: rgba(147, 84, 164, 1);
    padding:10px;
}

input[type="radio"] {
    transform: scale(2);
    vertical-align: middle;
}

p{
    color:white;
    font-size: 20px;
    border: 5px solid #2d1d36;
    padding: 10px;
}

label{
    color:white;
    width: 75vw;
    word-wrap: break-word;
    margin-right: 10px;
    border: solid #2d1d36 2px;
}